@import 'tailwindcss';

* {
  box-sizing: border-box;
}

@theme {
  --color-purple-600: #6938ef;
  --color-purple-700: #5925dc;
  --color-purple-800: #4a1fb8;
  --color-primary: #1a2bc3;

  --color-tertiary-sky-blue: #E4F2F9;
  --color-background: #FBFBFF;
  --color-foreground: #2B2B2B;
}
